.contact-list {
  flex-direction: column;
  align-items: flex-end;

  &--medium {
    lost-waffle: 4/12;
    align-items: baseline;
    height: auto;
    justify-content: flex-start;
  }

  &--small {
    lost-waffle: 2.5/12;
    height: auto;
  }
  &__item {
    width: 100%;

    color: $white;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: end;

    .large {
      font-family: "Roboto",  sans-serif;
      font-size: 29px;
      font-weight: 400;
      line-height: 11.76px;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block;
    }

    &--accent {
      color: $red;
      text-transform: uppercase;
    }
  }

  @media (max-width: 1200px) {
    &__item {
      .large {
        font-size: 22px;
      }
    }
  }

  @media (max-width: 1000px) {
    &__item {
      font-size: 13px;
      .large {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 768px) {
    &__item {
      .large {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 576px) {
    &__item {
      font-size: 17px;
      line-height: 22px;
      text-align: center;
      .large {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }


    &--medium {
      lost-waffle: 6/12;
      align-items: baseline;
      height: auto;
    }

    &--small {
     display: none;
    }

  }

  @media (max-width: 1000px) {

    &--small {
      order: 2;
      lost-waffle: 6/12 0px;
      height: auto;
    }
  }
}