.footer {
  background-color: $black;
  @include container;
  &-menu {
    padding-top: 81px;
    padding-bottom: 32px;
    lost-flex-container: row;
    justify-content: center;

    .main-menu {
      margin-bottom: 30px;
    }
    &__list {
      .contact-list {
        flex-direction: column;
      }
    }
  }

  .footer-menu__list .contact-list__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
  }

  &__copyright {
    color: $white;
  }

  &__active-item {
    lost-waffle: 2.5/12 1 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__wrapper {
    width: 100%;
    lost-flex-container: row;
    align-items: center;
    &-main {
      lost-flex-container: row;
      justify-content: space-between;
      lost-waffle: 7/12;
    }
  }



  @media (max-width: 1000px) {
    &-menu {
     padding-left: 10%;
      padding-right: 10%;
    }

    .footer-menu__list .main-menu {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .footer-menu__list .main-menu__item {
      width: auto;
    }



    .footer-menu__list .main-menu__link {
      font-size: 20px;
    }


    &__wrapper {
      &-main {
        lost-waffle: 12/12 1 0px;
      }
    }

    &__wrapper {
      &-main {
        lost-waffle: 12/12 1 0px;
      }
    }

    &__active-item {
      order: 1;
      lost-waffle: 6/12 1 0px;
      height: auto;
      align-items: flex-start;
    }

  }


  @media (max-width: 768px) {
    .footer-menu__list .main-menu__link {
      font-size: 15px;
    }
  }

  @media (max-width: 576px) {
    &-menu {
      padding-top: 21px;
      padding-left: 6%;
      padding-right: 6%;
    }

    &__active-item {
      lost-waffle: 12/12 1 0px;
      height: auto;
      align-items: center;
    }

    &__wrapper {
      flex-direction: column;
      &-main {
        lost-waffle: 12/12 1 0px;
      }
    }


    .footer-menu__list .contact-list__item {
      font-size: 14px;
      text-align: end;
    }
  }

}