.good {
  &-list {
    text-transform: uppercase;
    width: 50%;
    flex-direction: column;
    lost-waffle:4/12;
}
  &__item {
    color: $white;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    &:before {
      content: '\002D';
      position: absolute;
      margin-left: -7px;
    }
  }

  @media (max-width: 576px) {
    &-list {
      lost-waffle: 6/12;
    }
  }
}