.hint {
  width: 186px;
  height: 100px;
  border-radius: 50px 50px 50px 0;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 23px;
  padding-left: 13px;
  padding-bottom: 15px;
  position: absolute;
  top: -200px;

  span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    line-height: 18px;

  }

  p {
    margin: 0;


    strong {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.09px;
      line-height: 24px;
    }
  }

  @media (max-width: 576px) {
    top: -200px;
  }
}