.main-nav {
  @include container;
  lost-flex-container: row;
  background-color: $black;
  color: $white;
  padding-top: 25px;
  padding-bottom: 14px;
  justify-content: space-around;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    lost-waffle: 7/12;
    height: auto;
  }

  &__address {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  &__active-item {
    lost-waffle: 2/12 1 0px;
    height: auto;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__wrapper {
      lost-waffle: 3/12;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-button {
      @include mdi-icon('email-outline');
      width: 201px;
      height: 43px;
      color: #fefefe;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      border: none;
      background-color: $red;
      margin-top: 20px;
    }
  }

  &__user-list,
  &__info-list {
    @include user-menu-link;
  }

  &__logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      object-fit: contain;
      width: 70%;
    }
  }


  @media (max-width: 1000px) {
    &__active-item {
      lost-waffle: 1.5/12 1 0px;
      height: auto;
    }

    &__wrapper {
      lost-waffle: 7.5/12 1 10px;
      height: auto;
    }

    &__logo {
      &-img {
        width: 100%;
      }
    }

    &__contact-list {
      &-button {
        width: 151px;
        height: 32px;
        font-size: 11px;
      }

      &__wrapper {
        lost-waffle: 2.5/12;
      }
    }


  }

  @media (max-width: 768px) {
    &__wrapper {
      lost-waffle: 6/12 1 10px;
      height: auto;
    }

    &__contact-list {
      &__wrapper {
        lost-waffle: 3/12;
      }

      &-button {
        width: 133px;
        font-size: 10px;
      }
    }



    &__address {
      font-size: 13px;
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    &__wrapper {
      lost-waffle: 12/12 1 0;
      flex-direction: column;
      height: auto;
    }

    &__logo {
      &-img {
        width: 30%;
      }
    }

    &__list {
      margin-top: 20px;
    }

    &__user-list,
    &__info-list {
      display: flex;
      justify-content: center;
      font-size: 17px;
      margin-top: 20px;
    }

    &__active-item {
      lost-waffle: 12/12 1 0px;
      height: auto;
    }

    &__address {
      font-size: 17px;
      margin: 10px auto;
      width: 77%;
    }

    &__contact-list {
      width: 100%;
      align-items: center !important;
      margin-top: 20px;
      &-button {
        width: 201px;
        height: 43px;
        font-size: 15px;
      }
      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        lost-waffle: 12/12;
      }
    }


  }

}