.main-menu {
  lost-flex-container: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  @include main-menu-link;

  &__item {
    lost-column: 1/3;
    height: auto;
  }

  @media (max-width: 1200px) {
    &__link {
      font-size: 17px;
    }
  }

  @media (max-width: 1000px) {
    &__link {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {

    &__item {
      max-width: 100%;
      width: 50%;
      height: auto;
      margin: 0 !important;

      &:nth-child(3n) {
        width: 100%;
        text-align: center;
      }
      &:nth-child(2n) {
        text-align: end;
      }
    }

  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    &__item {
      width: 100%;
      text-align: center;
      &:nth-child(2n) {
        text-align: center;
      }
    }

    &__link {
      font-size: 20px;
    }
  }
}
