.modal {
  background-color: white;
  position: absolute;

  &__slide {
    margin: 0 15px;
    height: 120px;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    margin:0;
  }

  &__image {
    object-fit: contain;
  }

  &__good {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    border: 1px solid #eeeeee;
    margin-top: 30px;
    span {
      margin-top: 20px;
      font-family: Roboto, sans-serif;
      letter-spacing: 1.4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__description {
    width: 70%;
    tr {
      display: flex;
    }

    td {
      font-family: Roboto, sans-serif;
      line-height: 27px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -1px;

      p {
        font-size: 14px;
        letter-spacing: 0px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 10px;
      }
    }
  }

  &-close {
    @include mdi-icon('close');
    &::before {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__link {
    @include button-more;
    margin: 20px auto;

  }

  &-slider {
    max-width: 420px;
  }

  @media (max-width: 576px) {

    .content {
      width: 100%;
    }

    &__title {
      font-size: 17px;
    }



    &__description {
      td {
        font-size: 11px;

        p {
          font-size: 12px;
        }
      }

      h3 {
        font-size: 14px;
      }
    }

    .closeButton{
      position: absolute;
      right: 0;
    }

    &__link {
      width: 195px;
      font-size: 15px;
      padding-top: 16px;
      padding-bottom: 6px;
      padding-left: 24px;
    }

    &__good {
      padding: 8px;

      span {
        font-size: 12px;
      }
    }

    &-slider {
      max-width: 280px;
    }

    &__slide {
      margin: 0 20px;
    }
  }
}