.news {

  @include news;

  &__title {
    @include title;
    @include title-lines;
  }

  &__wrapper {
    lost-flex-container: row;
    height: auto;
    justify-content: space-between;
    @include container;
  }

  &__item {
    //width: 30%;
    lost-waffle: 4/12 3 50px;
    height: auto;
    margin-bottom: 123px !important;

    &-wrapper {
      @include news-line;
    }

    &-image-link {
      display: block;
      width: 100%;
      height: 218px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-more {
      display: flex;
      align-items: center;
      font-family: "Optima";
      font-size: 28px;
      font-weight: 700;
      position: relative;
      color: $black;

      &-link {
        width: 28px;
        height: 28px;
        margin-left: 17px;
      }
    }
  }

  @media (max-width: 1200px) {
    &__wrapper {
      padding-left: 4%;
      padding-right: 4%;
    }

  }

  @media (max-width: 1000px) {
    &__wrapper {
      padding-left: 10%;
      padding-right: 10%;
    }
    &__item {
      lost-waffle: 6/12 1 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }

  @media (max-width: 768px) {
    &__wrapper {
      padding-left: 5%;
      padding-right: 5%;
    }

  }

  @media (max-width: 576px) {
    &__item {
      lost-waffle: 12/12 1 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px !important;

    }
  }
}