.partenrs {
  &__title {
    @include title-lines;
    @include title;

    &:first-letter {
      color: $red;
    }
  }

  margin-bottom: 120px;

  @media (max-width: 576px) {
    margin-bottom: 60px;
  }
}