.preview {
  background-image: url("../img/banner.png");
  width: 100%;
  height: 900px;
  background-size: cover;
  margin-bottom: 103px;



  @media (max-width: 1200px) {
    background-position: 25%;
  }


  @media (max-width: 1000px) {
    height: 85vmax;
    background-position: 30%;
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    background-position: 32%;
    margin-bottom: 50px;
  }

}