.social {
  &-list {
    lost-waffle: 7/12;
    lost-flex-container: row;
    align-items: center;
  }

  &__item {
    lost-waffle: 4/12;
    height: auto;
    display: flex;
    align-items: center;

    &--telegram {
      @include mdi-icon('telegram');
    }

    &--vk {
      @include mdi-icon('vk-circle');
    }

    &--whatsapp {
      @include mdi-icon('whatsapp');
    }

    &::before {
      color: $white;
      font-size: 30px ;
    }
  }





  @media (max-width: 1000px) {
    &-list {
      lost-waffle: 12/12 1 0px;
      height: auto;
      margin-top: 15px;
      margin-bottom: 25px !important;
    }

    &__item {
      display: block;
      lost-waffle: 4/12 1 0px;
      a {
        font-size: 14px;
      }
    }
  }


  @media (max-width: 768px) {

  }


  @media (max-width: 576px) {
    &-list {
      lost-waffle: 12/12 1 0px;
      height: auto;
      flex-direction: column;
    }

    &__item {
      display: flex;
      lost-waffle: 12/12 1 0px;
      height: auto;
      justify-content: center;
      a {
        font-size: 16px;
      }

    }

  }

}