@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/Roboto-Bold.ttf') format('ttf') ;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/Roboto-Thin.ttf') format('ttf') ;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../fonts/Optima.ttf') format('ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=3.8.95");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=3.8.95") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=3.8.95") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=3.8.95") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=3.8.95") format("truetype");
  font-weight: normal;
  font-style: normal;
}