@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  //padding-left: 360px;
  //padding-right: 360px;
  padding-left: 20%;
  padding-right: 20%;

  @media (min-width: 320px) {
    padding-left: 1%;
    padding-right: 1%;
  }

  @media (min-width: 1000px) {
    padding-left: 2%;
    padding-right: 2%;
  }

  @media (min-width: 1400px) {
    padding-left: 9%;
    padding-right: 9%;
  }

  @media (min-width: 1700px) {
    padding-left: 16%;
    padding-right: 16%;
  }
}

@mixin user-menu-link {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.05px;
  text-transform: uppercase;
  text-decoration: none;
}


@mixin main-menu-link {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

@mixin title-lines {
  background-image: url("../img/elements/lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 1000px) {
    background-image: none;
  }
}

@mixin title {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 123px;
  text-align: center;

  &:first-letter {
    color: $red;
  }
  


  @media (max-width: 1000px) {
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
  @media (max-width: 576px) {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

@mixin footer-menu-link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

@mixin button-more {
  width: 257px;
  height: 25px;
  color: $white;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 28px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-image: url("../img/elements/button_more.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

@mixin space-between-left {
  @media (min-width: 577px) {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }

}

@mixin text-align-center-end {
  @media (min-width: 576px) {
    text-align: end;
  }
  @media (min-width: 768px) {
    text-align: center;
  }
}

@mixin text-align-end-center {
  @media (min-width: 576px) {
    text-align: center;
  }
  @media (min-width: 768px) {
    text-align: end;
  }
}

@mixin space-between-right {
  @media (min-width: 577px) {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
}

@mixin news {
  h3 {
    color: #000000;
    font-family: "Optima";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 1200px) {
    h3 {
      font-size: 24px;
    }
  }

  @media (max-width: 1000px) {
    h3 {
      font-size: 23px;
    }
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 21px;
    }
  }
  @media (max-width: 576px) {
    h3 {
      font-size: 23px;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

}

@mixin news-line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 7px;
    height: 100%;
    background-color: $red;
    left: -15px;
  }

  @media (max-width: 768px) {
    &:before {
      width: 4px;
    }
  }
}

