ul {
  padding: 0;
  margin: 0;
  @include reset-list;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.text-align-center-end {
  @include text-align-center-end;
}

.text-align-end-center {
  @include text-align-end-center;
}